body {
  font-family: Helvetica;
}
.app {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  height: calc(100vh - 40px);

  .logo {
    background-color: #0081A2;
    flex: 0 0 80px;
    height: 100%;
    text-align: center;

    &:before {
      content: '\F086';
      position: absolute;
      top: 20px;
      left: 15px;
      font-family: FontAwesome;
      font-size: 50px;
      color: #F6F3E7;
    }
  }

  .channels {
    padding-left: 15px;
    background-color: #0081A2;
    opacity: 0.85;
    flex: 0 0 200px;
    height: 100%;
    color: #F6F3E7;

    h1 {
      font-size: 30px;
    }

    p {
      font-size: 16px;
      font-weight: 600;
    }
  }

  .channel {
    background-color: #F6F3E7;
    flex: 1 0 calc(100% - 280px);
    height: 100%;
  }
}
