body {
  font-family: Helvetica;
}
.app {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  height: calc(100vh - 40px);

  .logo {
    background-color: #0081A2;
    flex: 0 0 80px;
    height: 100%;
    text-align: center;

    &:before {
      content: '\F086';
      position: absolute;
      top: 25px;
      left: 20px;
      font-family: FontAwesome;
      font-size: 40px;
      color: #F6F3E7;
    }
  }

  .channels {
    padding-left: 15px;
    background-color: #0081A2;
    opacity: 0.85;
    flex: 0 0 200px;
    height: 100%;
    color: #F6F3E7;

    h1 {
      font-size: 30px;
    }

    p {
      font-size: 1.3em;
      font-weight: 600;
      cursor: pointer;

      &.selected {
        text-decoration: underline;
      }

      &:hover {
        opacity: 0.85;
      }
    }

    i {
      cursor: pointer;
      font-size: 20px;

      &:hover {
        font-size: 25px;
      }
    }
  }

  .channel {
    padding-left: 25px;
    background-color: #F6F3E7;
    flex: 1 0 calc(100% - 280px);
    height: 100%;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 30px;
      font-weight: 600;
      color: #266778;
      flex: 0 0 40px;
    }

    .message-list {
      flex: 1 0 calc(100% - 300px);

      .message {
        margin-bottom: 10px;

        .header {
          font-size: 1.3em;

          .author {
          }

          .time {
            font-size: 0.8em;
            opacity: 0.7;
          }
        }

        .content {
          font-size: 1.3em;
        }
      }
    }

    .message-form {
      position: absolute;
      height: 100px;
      bottom: 20px;
      width: calc(100% - 305px);
      background-color: white;
      flex: 0 0 100px;

      .form-search {
        padding: 60px 60px 60px 120px;
        border: none;
        font-size: 2.6em;
        box-shadow: none;
        &:focus {
          box-shadow: none;
        }
      }

      &:before {
        content: '\F002';
        position: absolute;
        top: 35px;
        left: 60px;
        font-family: FontAwesome;
        font-size: 2.6em;
        opacity: 0.4;
      }
    }


  }
}
